body {
    background-color: lightblue;
    font-family: monospace, cursive;
    border: 100px solid transparent;
    padding: 37px;
    border-image: url("https://media2.giphy.com/media/l0ExpMzowNRkPNnvW/giphy.gif?cid=ecf05e47iydlxn5ce385huze9gymvpaxgc8kakpryf01xsi4&rid=giphy.gif");
}

a {
    margin: 0;
    position: absolute;
    top: 8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace, cursive;
}
