body {
  background-image: url("download.png");
  background-size: 5cm;
  background-position-y: 40px;
  background-position-x: -20px;
  background-color: #333;
}

.navbar {
  background-color: black;
  overflow: hidden;
  margin: -8px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica;
}

.navbar a:hover {
  background-color: rgb(41, 41, 41);
  color: black;
}

.navbar a.active {
  background-color: #fc7906;
  color: #f2f2f2;
}

h1 {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  font-size: 70px;
  color: #fc7906;
}

p1 {
  font-family: Helvetica;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fc7906;
}

h2 {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  font-size: 70px;
  color: #fc7906;
}



