body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(115,115,115,1) 62%, rgba(245,245,245,1) 100%);
  }

.navbar {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 43%, rgba(10,10,10,1) 100%);
  overflow: hidden;
  margin: -8px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica;
}

.navbar a:hover {
  background-color: rgb(41, 41, 41);
  color: black;
}

.navbar a.active {
  background-color: #fc7906;
  color: #f2f2f2;
}

h1 {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  font-size: 70px;
}




